.form {
  display: flex;
  gap: 16px;
}

.column {
  flex: 0 0 320px;
}

.datePicker {
  width: 100%;
}

.episodesCount {
  :global {
    .ant-input-number {
      width: 100%;
    }

    .ant-form-item {
      margin-bottom: 0;
    }
  }
}
