.form {
  display: flex;
  gap: 16px;
}

.column {
  flex: 0 0 320px;
}

.datePicker {
  width: 100%;
}

.episodesCount {
  :global {
    .ant-input-number {
      width: 100%;
    }

    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

.sortDirection {
  :global {
    .ant-form-item-control-input-content {
      display: flex;
      gap: 8px;
    }

    .ant-form-item {
      margin-bottom: 0;
    }
  }

  .sortTypeFormItem {
    flex: 1;
  }
}
